.help
  %p 
    %a{:href=>"/"}islostonyet 
    is a 
    %a{:href=>"http://twitter.com"}Twitter
    enabled fan site for the abc television series 
    %a{:href=>"http://abc.go.com/primetime/lost/"}LOST
  %p
    Tweet
    %a{:href=>"http://twitter.com/home?status=%40islostonyet%3F"}@islostonyet?
    for an auto-reply countdown to the next new episode of LOST, or
  %p
    Tweet
    %a{:href=>"http://twitter.com/home?status=%40islostonyet+%23s5+is+gonna+be+sweet"}@islostonyet
    with your status, and join the conversation