.posts
  = partial :help
  %h2 
    Latest Posts
    %a.rss{:href => "/updates.atom"}<
      %img{:src => "/rss-12x12.gif", :border=>"0", :alt => "Subscribe to Is#{IsLOSTOnYet.show_abbrev}OnYet? updates"}
  = partial :post