.menu
  %h3{:class => @body_class == "latest" ? "active" : ''}
    %a{:href=>"/"}Home
  %h3{:class => @body_class == "episodes" ? "active" : ''}
    %a{:href=>"/episodes"}Episodes
  %h3{:class => @body_class == "widget" ? "active" : ''}
    %a{:href=>"/widget"}Widget