.menu
  %h3{:class => @body_class == "latest" ? "active" : ''}
    %a{:href=>"/"}Home
  %h3{:class => @body_class == "episodes" ? "active" : ''}
    %a{:href=>"/episodes"}Episodes
  - if @tags.size > 0
    %h3{:class => @body_class == "tags" ? "active" : ''}
      %a{:href=>"/tags"}Tags
  -# %h3{:class => @body_class == "widget" ? "active" : ''}
  -#   %a{:href=>"/widget"}Widget