.widget
  .widget_intro
    %h2== Put the countdown on your site!
  .widget_container
    %link{:href=>"/widget/css", :media=>"all", :rel=>"stylesheet", :type=>"text/css"}/
    %script{:type=>"text/javascript"}
    %script{:type=>"text/javascript", :src=>"/widget/js"}